header {
  width: 90%;
  height: 500px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 0px;
  background-color: grey;
  clear:both;
       }

.home-header {
  background-image: url(../images/header_bg.jpg);
}
.nav-header {
  width: 90%;
  height: 200px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 0px;
  background-color: #033048;
  clear:both;
}
.navigation {
  padding-left: 50px;
  padding-bottom: 20px;
}
.about-nav, .faq-nav, .team-nav, .contact-nav, .blog-nav {
  color: #f9e42e;
  font-family: 'Open Sans' sans-serif;
  font-weight: 600;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
                 }
.faq-nav, .team-nav, .contact-nav {
  padding: 30px;
}
li:first-child {
  margin-left: 110px;
  padding: 0px;
}
a {
  color: #f9e42e;
  font-family: 'Open Sans' sans-serif;
  font-weight: 600;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
}
a:hover {
  color: white;
}
.right-side-panel {
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 6%;
  float:right;
  background-color: #f0efef;
  height: 700px;
  width: 20%;

}
.right-headers {
  font-family:'Open Sans' sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #033048;
  text-align: left;
  padding-left: 40px;
}
.side-panel-text{
  font-family:'Open Sans' sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #033048;
}
.ad-box {
  color:#033048;
  height: 600px;
  width: 20%;
  float:right;
  clear:both;
  margin-right: 6%;
}
.ad-text {
  color: #033048;
}
.body-copy-box {
  margin-left: 4%;
  margin-right: 0px;
  width: 70%;
  background-color: #f0efef;
  float:left;
               }
img {
  margin-left: 30px;
  overflow: hidden;

}
.blogpost-title {
  color: #033048;
  margin-top: 20px;
  margin-left: 40px;
}
.blog-content {
  font-family:'Open Sans' sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: black;
  margin-left: 50px;

}
  h1 {
  font-family:'Open Sans' sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: white;
  margin-left: 20%;
  padding-top: 60px;
     }
  h2 {
    font-family:'Open Sans' sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 70px;
  }
  .button1 {
    background-color: #f9e42e;
    font-family:'Open Sans' sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #033048;
    margin-left: 450px;
    margin-top: 100px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
         }

  p {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    }
.copyright-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
}
.benefits-box,.quote-box,.signup-box, footer {
  width: 90%;
  margin-left: 4%;
  margin-right: 4%;
                                             }
.benefits-box {
  margin-top: 0px;
  height: 300px;
  background-color: #f0efef;
  color: black;
              }
.listdescription {
  color: black;
                 }
ul {
  color: black;
  margin-left: 200px;

   }
li {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
   }
h3 {
  font-family: 'Open Sans' sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #033048;
  margin-left: 20%;
  margin-top: 0px;
  padding-top: 60px;
   }
.quote-box {
  padding-top: 110px;
  height: 240px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: white;
  background-image: url(../images/testimonial_bg.jpg);
}
.boldname {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: red;
}

.signup-box {
  background-color: #f9e42e;
  height: 80px;
  clear:both;
}
.button2 {
  background-color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-left: 450px;
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
         }
.bottomtitle {
  font-family:'Open Sans' sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #f9e42e;
  margin-left: 20%;
  margin-top: 0px;
  padding-top: 60px;
             }
.social-media-logo {
  list-style-type: none;
  display: inline;
  text-align: center;
}
img {
  padding: 20px;
}
footer {
  height: 300px;
  background-color:#121212;
  color: white;
  margin-top: 0px;
  clear:both;
}
