header {
  width: 90%;
  height: 500px;
  background-color: grey;
  border: black 1px solid;
  margin-left: 4%;
  margin-right: 4%;
        }

.benefits-box,.quote-box,.signup-box, footer {
  width: 90%;
  margin-left: 4%;
  margin-right: 4%;
}

.benfits-box {
  height: 300px;
  background-color: #f0efef;


}

.quote-box {

}

.signup-box {
  background-color: #f9e42e
}

footer {
  background-color:
}
